*{
    margin: 0;padding: 0;
}
.main{
    background-color: lightblue;
    width:100vw;
    height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
#container{
    width: 0600px;

    background-color: white;
    border-radius: 5px;
}
.row{
    width: 100%;
    padding: 5px;
    margin: 5px;
    font-size: 1.5rem;
}
.btn{
   border-radius: 3px;
padding: 5px;
font-size: 0.8rem;
    height: 40px;
    color: white;
    background-color: rgb(4, 1, 8);
    width: 100%;
}